table {
    font-size: 15px;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid grey;
}

tr:nth-child(odd) {
    background: #DDD7EF;
    width: auto;
    height: 40px;
    border-collapse: collapse;
    border: 1px solid grey;
    padding: 3px;
    padding-left: 5px;
    text-align: center;
}

tr:nth-child(even) {
    background: #CFCDF2;
    width: auto;
    height: 40px;
    border-collapse: collapse;
    border: 1px solid grey;
    padding: 3px;
    padding-left: 5px;
    text-align: center;
}

td:nth-child(1) {
    width: auto;
    border-collapse: collapse;
    border: 1px solid grey;
    padding: 1px;
    text-align: left;
}

td:nth-child(2) {
    width: auto;
    border-collapse: collapse;
    border: 1px solid grey;
    padding: 3px;
    padding-left: 15px;
    padding-right: 25px;
    text-align: center;
}

td:nth-child(3) {
    width: auto;
    border-collapse: collapse;
    border: 1px solid grey;
    padding: 1px;
    text-align: center;
}

td:nth-child(4) {
    width: auto;
    border-collapse: collapse;
    border: 1px solid grey;
    padding: 3px;
    padding-left: 15px;
    padding-right: 25px;
    text-align: center;
}
body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    background: #F0F7FB;
    color: #343b82;
    overflow-x: hidden;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1, h2, strong {
    color: 333;
}

code, pre {
    background: #e5e7f9;
    border-bottom: 1px solid #d8dee9;
    color: #a7adba;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

pre {
    padding: 1em;
    border-left: 2px solid #69c;
}

a {
    color: #FF0871;
}

a:hover {
    color: #FFF823;
}

a:active {
    color: #FC0060;
}

a:visited {
    color: #4B2BFF;
}

img {
    width: 275px;
    height: 400px;
}

.modal-window {
  position: fixed;
  background-color: rgba(200, 200, 200, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
}

.modal-window header {
  font-weight: bold;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: #000;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
